html {
    margin: 24px;
    background-color: #EEEEEE;
}

body {
    font-family: Roboto;
    font-style: Regular;
    color: #009688;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
    color: #212121;
}